<script>
$(function() {
       initialize();
});
</script>

<% if current_user %>
    <div class="col-lg-4">
    </div>
      <div class="col-lg-5">
        <a href="/users/<%=current_user.id%>/show" class="btn btn-primary">Dashboard</a>
        <a href="/" class="btn btn-primary">Payment</a>
        <a href="/" class="btn btn-primary">Settings</a>
        <a href="/" class="btn btn-primary">Edit profile</a>
      </div>
    <div class="col-lg-3">
    </div>
<% end %>

  <div class="container container-table">

    <div class="row vertical-center-row">
      <div class="col-md-offset-3"><br><br><br><br><br><br><br><br>
      <h1 class="underline animated fadeInDown"><strong>Get a quote for your move!</strong></h1>
      <br>
        <form id="tripForm" class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-5 control-label"><strong><i>* Please fill up every fields</i></strong></label>
        </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">From: </label>
                <div class="col-xs-5">
                    <input id="autocomplete1" class="form-control" placeholder="Enter origin"/>
                    <input type="hidden" id="lat1" name="lat1"/>
                    <input type="hidden" id="lng1" name="lng1"/>
                    <input type="hidden" id="city1" name="city1"/>
                    <input type="hidden" id="country1" name="country1"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">To: </label>
                <div class="col-xs-5">
                    <input  id="autocomplete2" class="form-control" placeholder="Enter destination"/>
                    <input type="hidden"  id="lat2" name="lat2"/>
                    <input type="hidden"  id="lng2" name="lng2"/>
                    <input type="hidden" id="city2" name="city2"/>
                    <input type="hidden" id="country2" name="country2"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Size of living area: </label>
                <div class="col-xs-5">
                    <input type="number"  id="size_living" class="form-control" placeholder="in m2"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Size of basement area: </label>
                <div class="col-xs-5">
                    <input type="number" id="size_basement" class="form-control" placeholder="in m2"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Any piano? </label>
                <div class="col-xs-5">
                  Yes    <input id="piano1" type="radio" name="piano" value="yes"/>
                  No    <input id="piano2" type="radio" name="piano" value="no"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-5 col-xs-offset-3">
                    <button type="button" class="js-submit btn btn-primary">Calculate!</button>
                </div>
            </div>
        </form>
      </div>
    </div>
    </div>

<div class="modal fade scroll" id="login-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to MoveIT</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form id="tripForm" method="get" action="/users/sign_in" class="form-horizontal">
          <h4 class="modal-title" id="myModalLabel">Already registered?</h4><br>
          <button type="submit" class="btn btn-success">Log in</button>
          </form>
        </div><br>
        <div class="container-fluid">
          <form id="tripForm" method="get" action="/users/sign_up" class="form-horizontal">
          <h4 class="modal-title" id="myModalLabel">New here?</h4><br>
          <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('.js-submit').on('click', function() {
    transferInfo();
});
</script>
